{% extends "base.html" %}
{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi,
            exercitationem quia voluptate natus accusantium quod vitae ullam.
            Iste eaque
            distinctio dolorum qui? Dolores, ex architecto. Veniam vitae amet
            corporis
            omnis consectetur? Praesentium libero itaque blanditiis recusandae
            sint?
            Accusamus, architecto? Ad, consequatur a odio impedit veniam
            quisquam
            possimus quas minima mollitia, recusandae repudiandae provident
            consectetur
            natus harum qui dolores neque debitis illo, quia tempore obcaecati
            sequi
            culpa eveniet dicta? Perspiciatis, totam amet quibusdam aperiam est
            excepturi id ipsam. Vel incidunt officia ratione nemo facere
            doloribus
            maxime minima, doloremque, aliquid quas consectetur! Doloremque
            ratione
            quibusdam, sequi velit accusantium et totam itaque esse!</p>
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin">
                SignIn
            </a>
            <a class="btn btn-dark" href="/signup">
                Signup
            </a>
        </div>
    </section>
</main>
{% endblock content %}