{% extends 'base.html' %}


{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <form action="/signin/" class="card card-body "
                method="post">
                <h1 class="text-center ">SingIn</h1>
                {{ error }}
                <!-- es una variable de jinja que permite html{{ csrf_token }}-->
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username"
                        class="form-control" placeholder="Write your Username"
                        required>
                </div>
                <div class="mb-3">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password"
                        class="form-control" placeholder="Write your password"
                        required>
                </div>
                <button class="btn btn-primary">
                    SignIn
                </button>
            </form>
        </div>
    </div>
</main>

{% endblock content %}